#container {
    height:420px;
    width:420px;
    display: flex;
    flex-wrap: wrap;

    .bg{
        height:15px;
        width:15px;
        background-color: silver;
        margin:0;
        padding: 0;
    }

    .snake{
        height:15px;
        width:15px;
        background-color: red;
    }

    .wall{
        background-color: black;
        height:15px;
        width:15px;
    }

}

